body {
    background-color: rgb(162, 43, 85);
  }
  .container1 {
    background-color: rgb(118, 32, 63);
    width: 574px;
    height: 447px;
    margin-top: 100px;
    margin-left: 30%;
    padding-top: 20px;
  }

  .div {
    padding: -20px;
    color: rgb(220, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 106px;
    align-items: center;
    justify-content: center;
  }
  label {
    width: 200px;
    display: inline-block;
  }
  .inp {
    height: 25px;
    width: 205px;
  }
  button {
    background-color: white;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    width: 408px;
    height: 43px;
    border-radius: 6px;
  }
  #sel {
    width: 250px;
  }

  textarea {
    height: 42px;
    width: 205px;
  }